nav {
  position: fixed;
  bottom: 0;
  width: 100%;
}
button {
  width: 50%;
  border: none;
  color: #88898c;
  background: #222327;
  padding: 5px;
  font-size: 20px;
  outline: none;
  font-weight: bold;
}
.is-active {
  border: none;
}
.is-active > button {
  color: #30e670;
  border-top: #30e670 solid 1px;
}
#songs {
  border-radius: 50px 0 0 0;
  border-right: #30e670 solid 1px;
}
#history {
  border-radius: 0 50px 0 0;
  border-left: #30e670 solid 1px;
}
