nav {
  position: fixed;
  bottom: 0;
  width: 100%;
}
button {
  width: 50%;
  border: solid 1px #111;
  color: white;
  background: #333;
  padding: 10px;
  font-size: 20px;
}
.is-active {
  border: none;
}
.is-active > button {
  background: #111;
}
