input {
  text-align: center;
  outline: none;
  border: none;
  border-radius: 50px;
  margin-top: 5px;
  font-size: 27px;
  padding: 20px;
  width: calc(95% - 2 * 20px);
}
.input-wrapper {
  background: #27ff72;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-bottom: 5px;
  border-radius: 0 0 30px 30px;
}
ul {
  list-style: none;
}
.songsList {
  margin-top: 85px;
}
.songListItem {
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #26282b;
  margin: 0px 20px;
}

.songName {
  font-size: 25px;
  color: #ffffff;
}
.authorName {
  font-size: 20px;
  color: #a6a7ac;
  font-style: italic;
}
